# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

## DataFrame VS Series

There are no major differences between Pandas Series and a single column dataframe except

1. The Column Name or Header

2. Series does not have any name/header where as the dataframe has column names.

3. The pandas functions related to Data Frame can be used for the dataframe column and the pandas functions related to Series can be used for the series.

4. There are many functions which can be used for both Series and Data Frames, however not all functions can be used interchangeably.

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
sky = ['Q','X','Z']
my_list = [10,20,30]
arr = np.array([100,200,300])
d = {'a':10,'b':20,'c':30}
labels=[sky,my_list,arr,d]
type(labels)

list

** Using Lists**

In [ ]:
#print(pd.Series(data=labels))
print()
#pd.DataFrame(data=labels)

pd.Series({"Name":["Karan1","Karan2","Karan3"],"Age":[20,21,22]})

#pd.DataFrame({"Name":["Karan1","Karan2","Karan3"],"Age":[20,21,22]})

Name    [Karan1, Karan2, Karan3]
Age                 [20, 21, 22]
dtype: object

In [ ]:
print(sky)
pd.Series(data=arr,index=sky)

In [ ]:
print(pd.Series(sky,arr))
print()
pd.Series(sky,my_list)

** NumPy Arrays **

In [ ]:
pd.Series(my_list)

In [ ]:
pd.Series(arr,sky)
print(d)

** Dictionary**

In [ ]:
pd.Series(d)
pd.Series(d1)

In [ ]:
d1={"Name":["John","Joseph","Sunny","Honey"],"Age":[27,28,29,45],"Salary":[100,150,200,250]}
d1
pd.DataFrame(d1)

In [ ]:
pd.Series(d1)

In [ ]:
labels

### Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
d={"Name":["Karan1","Karan2","Karan3","Karan4"],"Age":[20,21,21,21]}
pd.DataFrame(d)

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [ ]:
import pandas as pd
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','Italy', 'Japan'])
ser1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['Italy', 'Germany','USA', 'Japan'])
ser2

Italy      1
Germany    2
USA        5
Japan      4
dtype: int64

In [ ]:
#ser2.rename(index={"USA":"IND","Japan":"ARG"},inplace=True)
ser2.rename(index={"IND":"USA","ARG":"Japan"},inplace=True)
ser2

Italy      1
Germany    2
USA        5
Japan      4
dtype: int64

In [ ]:
#print(ser2['IND'])
#print(ser2)
#ser1.rename({"USA":"IND"},inplace=True)

#ser2=ser2.rename({"IND":"USA"})
ser2

Italy      1
Germany    2
IND        5
Japan      4
dtype: int64

Operations are then also done based off of index:

In [ ]:
x=ser1 * ser2
x

Germany     4
Italy       3
Japan      16
USA         5
dtype: int64

# Great Job!